@model FlightViewModel

@{
    ViewData["Title"] = "Add new flight";
}
<style>

h2 {
  text-align: center;
}
</style>
<h2>Add new flight to the database</h2>
<partial name="_add_edit_partial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}