@model FlightViewModel

@{
    ViewData["Title"] = "Edit flight";
}
<style>

h2 {
  text-align: center;
}
</style>
<h2>Edit flight to @Model.ArrivalAirport.Name</h2>
<partial name="_add_edit_partial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}