@model IEnumerable<FlightViewModel>
@using System.Globalization

@{
    ViewBag.Title = "All Flights";
}


<h2 class="text-center">@ViewBag.Title</h2>

    <style>
      p {
        
        margin: 0;

      }
    </style>


@foreach (var flight in Model)
{
    <partial name="_flightViewPartial" model="@flight" />
}

