@model IEnumerable<FlightViewModel>
@using System.Globalization

@{
    ViewBag.Title = "All Flights";
}


<h2 class="text-center">@ViewBag.Title</h2>

    <style>
      p {
        
        margin: 0;

      }
    </style>

@if (!Model.Any())
{
    <h2 class="text-center">Flights founds</h2>
}

@foreach (var flight in Model)
{
    <partial name="_flightViewPartial" model="@flight" />
}


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

