@{
    ViewData["Title"] = "Home Page";
}

<style>

$('#sandbox-container .input-group.date').datepicker({
    maxViewMode: 2,
    todayBtn: true,
    orientation: "bottom auto",
    forceParse: false,
    daysOfWeekHighlighted: "0,6",
    todayHighlight: true
});

</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET CoreAASAS</a>.</p>
</div>


@section Scripts{

    <script type="text/javascript">


    </script>

}



